doctype html
html
    head
        meta(charset="UTF-8")
        title Cifrado A5/1
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="css/styles.css")

    body
        .modal
            .box
                #close-modal
                    <i class="fa fa-times" aria-hidden="true"></i>
                form#form-values
                    label Inserta la primera clave. 19 dígitos.
                    input(type="text" pattern="[01]{19,19}" maxlength="19" placeholder="010100010..." required=true id="LFSR-1")
                    label Inserta la segunda clave. 22 dígitos.
                    input(type="text" pattern="[01]{22,22}" maxlength="22" placeholder="010100010..." required=true id="LFSR-2")
                    label Inserta la tercera clave. 23 dígitos.
                    input(type="text" pattern="[01]{23,23}" maxlength="23" placeholder="010100010..." required=true id="LFSR-3")
                    button#save-values Guardar
                    
        header.mean
            button#next-step Paso siguiente
            button#new-values Introducir nuevos valores
            button#random-values Generar valores aleatorios

        .cifrado-a51
            .vector#vector-LFSR-1
                .circuit
                    .element.pos-1
                        .arrow.arrow-out
                        .arrow.arrow-b-r.arrow-operation
                            .xor
                    .element.pos-2
                        .arrow.arrow-b-r.arrow-operation
                    .element.pos-3
                        .arrow.arrow-b-r.arrow-operation
                    .element.pos-6
                        .arrow.arrow-b-r.arrow-operation
                    .element.pos-19
                        .arrow.arrow-r-t.arrow-in
                            .value-in
                .container
                    .elements
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element.registry
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                    
            .vector#vector-LFSR-2
                .circuit
                    .element.pos-1
                        .arrow.arrow-out
                            .xor
                            .arrow.arrow-b-r.arrow-result
                                section#result
                        .arrow.arrow-b-r.arrow-operation
                            .xor
                    .element.pos-2
                        .arrow.arrow-b-r.arrow-operation
                    .element.pos-22
                        .arrow.arrow-r-t.arrow-in
                            .value-in
                .container
                    .elements
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element.registry
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element

            .vector#vector-LFSR-3
                .circuit
                    .element.pos-1
                        .arrow.arrow-out
                        .arrow.arrow-b-r.arrow-operation
                            .xor
                    .element.pos-2
                        .arrow.arrow-b-r.arrow-operation
                    .element.pos-3
                        .arrow.arrow-b-r.arrow-operation
                    .element.pos-16
                        .arrow.arrow-b-r.arrow-operation
                    .element.pos-23
                        .arrow.arrow-r-t.arrow-in
                            .value-in
                .container
                    .elements
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element.registry
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
                        .element
        script(src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous")
        script(src="js/index.js")
